<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MediLabo | Erreur</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <script defer src="https://analytics.dandadev.cloud/script.js" data-website-id="2d547e94-5aa4-4ac3-a03e-92fdcf4241aa"></script>
</head>
<body>

<div class="container">
    <h1>Application MediLabo</h1>

    <div class="row">
        Erreur !
    </div>
</div>

<div th:replace="fragments/footer :: site-footer"></div>

</body>
</html>