<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MediLabo</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <p>
        <a href="#" th:href="@{/logout}">Se déconnecter</a>
    </p>

    <h1>Application MediLabo | Home</h1>

    <div class="row">
        <div th:each="patient : ${patients}" class="col-md-4 my-1">
            <a th:href="@{|/patients/${patient.id}|}">
                <p th:text="${patient.name}"></p>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>